.timeline {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #ddd;
    transform: translateX(-50%);
}

.timeline-item {
    position: relative;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.timeline-item-left {
    left: 0;
    text-align: right;
}

.timeline-item-right {
    left: 50%;
    text-align: left;
}

.timeline-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.timeline-date {
    color: #999;
    margin-bottom: 10px;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
    display: inline-block;
}

.timeline-description {
    margin: 0;
    padding: 10px 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: inline-block;
    max-width: 90%; /* Asegura que el texto no se desborde */
}

.event-content {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
